<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.novles.security.account.AccountMapper">
  	<select id="findAll" resultType="accountUser">
  		select
  			seqno
  			, id
  			, name
  			, password
  		from SKUSER
  	</select>
  	
  	<select id="findBySeqno" parameterType="long" resultType="accountUser">
  		SELECT
  			seqno
  			, id
  			, name
  			, password
  		FROM SKUSER
  		WHERE seqno = #{value}
  	</select>
  	
  	<select id="findById" parameterType="string" resultType="accountUser">
  		SELECT
  			seqno
  			, id
  			, name
  			, password
  		FROM SKUSER
  		WHERE id = #{value}
  	</select>
</mapper>
